@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #__next{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden
}
  
@layer base{
    h1, h2, h3, h4, h5, h6, p, a, span, li, button, input, textarea{
    @apply font-nougat text-white;
    text-stroke: 2px black;
    -webkit-text-stroke: 1px #000000;
    text-shadow: #000000 0px 4px;
    }
}

@layer components{
    .default-text{
        @apply font-nougat text-white;
        text-stroke: unset;
        -webkit-text-stroke: unset;
        text-shadow: unset;
    }
}

@layer utilities{
    .close-button{
        clip-path: polygon(25% 50%, 0 25%, 25% 0, 50% 25%, 75% 0, 100% 30%, 75% 50%, 100% 75%, 75% 100%, 50% 80%, 25% 100%, 0 75%);
    }
    .close-button-border{
        clip-path: polygon(30% 0%, 0% 30%, 15% 50%,0% 70%, 35% 100%, 50% 85%,75% 100%, 100% 70%, 85% 50%, 100% 30%,  70% 0%, 50% 20%);
    }
}