@font-face {
    font-family: 'Nougat';
    src: url('/fonts/Nougat-ExtraBlack.woff2') format('woff2'),
    url('/fonts/Nougat-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}